# "DO NOT IGNORE THESE" TYPE EXCEPTIONS HERE:
!**/*.h
!**/*.c
!**/*.cpp
!**/*.hpp
!**/*.sln
!**/*.bat
!**/*.vcxprj

# Ignore these:
/.vs
/.vscode
/srchybrid/.vs
/srchybrid/.vscode
/srchybrid/Debug
/srchybrid/Release
/srchybrid/emule.aps
/srchybrid/eMule CRT Debug Log.log
/srchybrid/translations/translations_data.gen.h
/srchybrid/translations/used_keys_reference.txt
/srchybrid/enc_temp_folder
/logs
/eMule CRT Debug Log.log
/cryptopp/adhoc.cpp.copied
/cryptopp/Debug
/cryptopp/Release
/CxImage/Debug
/CxImage/Release
/CxImage/UpgradeLog.htm
/id3lib/libprj/Debug
/id3lib/libprj/Release
/libutp/Debug
/libutp/Release
/libpng/.vs
/miniupnp/msvc/Debug
/miniupnp/msvc/Release
/ResizableLib/Debug
/ResizableLib/Release
/ResizableLib/Debug_Static.obj
/specialdlp/specialdlp/Release_SDC_ALL_VERYCD
/specialdlp/specialdlp/x64/Release_SDC_ALL_VERYCD
/specialdlp/specialdlp/Debug
/zlib/Debug
/zlib/Release
/libpng/Debug
/libpng/Release
/libpng/.vs
/GeoLite2++/.vs
/GeoLite2++/Debug
/GeoLite2++/Release
/GeoLite2++/CMakeFiles/3.28.3-msvc11/CompilerIdC/Debug
/GeoLite2++/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/Debug
/GeoLite2++/CMakeFiles/3.28.3-msvc11/VCTargetsPath/x64/Debug
/libmaxminddb/.vs/maxminddb
/libmaxminddb/CMakeFiles/3.28.3-msvc11/CompilerIdC/Debug
/libmaxminddb/CMakeFiles/3.28.3-msvc11/VCTargetsPath/x64/Debug
/libmaxminddb/Debug
/libmaxminddb/Release
/libmaxminddb/maxminddb.dir/Debug
/libmaxminddb/maxminddb.dir/Release
/libmaxminddb/t/bad_pointers_t.dir/Debug
/libmaxminddb/t/basic_lookup_t.dir/Debug
/libmaxminddb/t/data-pool-t.dir/Debug
/libmaxminddb/t/data_entry_list_t.dir/Debug
/libmaxminddb/t/data_types_t.dir/Debug
/libmaxminddb/t/dump_t.dir/Debug
/libmaxminddb/t/dump_t.dir/Release
/libmaxminddb/t/get_value_pointer_bug_t.dir/Debug
/libmaxminddb/t/get_value_t.dir/Debug
/libmaxminddb/t/ipv4_start_cache_t.dir/Debug
/libmaxminddb/t/ipv6_lookup_in_ipv4_t.dir/Debug
/libmaxminddb/t/metadata_pointers_t.dir/Debug
/libmaxminddb/t/metadata_t.dir/Debug
/libmaxminddb/t/no_map_get_value_t.dir/Debug
/libmaxminddb/t/read_node_t.dir/Debug
/libmaxminddb/t/tap.dir/Debug
/libmaxminddb/t/version_t.dir/Debug
/libmaxminddb/t/Debug
/MediaInfoLib/Debug
/MediaInfoLib/Release
/MediaInfoLib/.vs
/miniupnp/miniupnpcstrings.h
/ZenLib/Debug
/ZenLib/Release
/ZenLib/.vs
/TranslationCompiler/Debug
/TranslationCompiler/Release
/TranslationCompiler/.vs
/sync.ffs_db*
/sync.ffs_lock
/1.png
/2.png
/3.png
/1.jpg
/2.jpg
/3.jpg

srchybrid/translations/__pycache__/gemini_translator.cpython-310.pyc
srchybrid/translations/gemini_translator_resume.txt
